*{
    font-family: "Comfortaa", sans-serif;
}
footer{
    margin-top: 30px;
    height: 90px;
    width: 100%;
    background-color: #040d1c;
}
.mail{
    left: 20px;
    font-size: 13px;
    position: relative;
    top: 15px;
    color: white;
    border-bottom: 1px solid white;
}
.icon-group-instagam{
    top: 20px;
    position: relative;
}
.icon-group-youTube{
    top: 20px;
    position: relative;
    left: 50px;
    transition: 0.3s;
}
.footer-def{
    font-size: 15px;
    color: white;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap')