
*{
    font-family: "Comfortaa", sans-serif;
    margin: auto 0;
    padding: auto 0;
}
body{
    background-color: black;
}
p{
    overflow: hidden;
}
.container{
    max-width: 1000px;
    margin: 0 auto ;
    width: 90%;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #0d0014;
}
.container-form{
    max-width: 1000px;
    margin: 20px auto ;
    width: 90vw;
    padding: 10px 20px;
    border-radius: 7px;
    background-color: #0d0014;
}
.headtitle{
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    color: #008df6;
    text-align: center;
}
.title-adminText{
    font-family: "Comfortaa", sans-serif;
    font-size: 40px;
    color: #008df6;
    text-align: center;
}
.title-review{
    color: black;
}
#text{
    color: #008df6;
    background-color: #171717;
    padding: 10px 10px;
    border-radius: 8px;
    width: 800px;
    height: 100px;
}
#name{
    color:#008df6 ;
    background-color: #171717;
    padding: 10px 10px;
    border-radius: 8px;
    width: 200px;
}
.reviews{
    color:#008df6 ;
    display: inline;
}
.text-review{
    margin-top: 5px;
}
.reviews-block{
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid gray;
}
.photo{
    top: 15px;
    position: relative;
    margin-left: -15px;
}
.title-review{
    color:#008df6 ;
    display: inline;
}
form{
    padding: 20px 0px 20px 10px;
    border-radius: 7px;
}
.center{
    display: flex;
  justify-content: center;
}
label{
    color: #008df6;
    font-size: 20px;
    position: relative;
    top: -10px;
}
.button-form{
    padding: 10px 20px;
    border: 1px solid black;
    color: white;
    border-radius: 5px;
    background-color:rgb(39, 23, 38) ;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        background-color: rgb(53, 30, 51);
    }
}
.button-sort{
    color: white;
    background-color:rgb(39, 23, 38) ;
    border-radius: 8px;
    padding: 10px 20px;
    float: right;
    bottom: 40px;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    &.active{
    visibility: visible;
    opacity: 1;
    }
}
.sorting{
    color: white;
    background-color:rgb(39, 23, 38) ;
    bottom: 40px;
    float: right;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
}
.error{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: rgb(23, 17, 71) ;
    color: red;
    visibility: hidden;
    transition: 0.2s;
    &.active{
        visibility: visible;
    }
}
.star-rating {
    top: 20px;
    position: relative;
    font-size: 0;
  }
.star-rating__wrap {
    display: inline-block;
    font-size: 1rem;
}
  
.star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
}
.star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #CDA434;
}
  
.star-rating__ico:last-child {
    padding-left: 0;
}
  
.star-rating__input {
    display: none;
}
  
.star-rating__ico:hover:before,
.star-rating__ico:hover~.star-rating__ico:before,
.star-rating__input:checked~.star-rating__ico:before {
    content: "\f005";
}
@media (max-width:910px){
    #name{
        width: 20vw;
    }
    #text{
        width: 80vw;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap')